.terminal {
   max-height: calc(100vh - 160px);
   margin-bottom: 20px;
   overflow-y: scroll;
   display: flex;
   flex-direction: column-reverse;
}

.terminal::-webkit-scrollbar {
   width: 0 !important;
}

.terminal {
   overflow: -moz-scrollbars-none;
}

.terminal {
   -ms-overflow-style: none;
}

.input {
   background-color: transparent;
   border: 0;
   outline: none;
   color: var(--text-color);
   min-width: calc(100% - 120px);
   font-size: 16px;
}
